My[[:space:]]project/Library/PackageCache/* filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/* filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/PackageCache filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/* filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Editor.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Runtime filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Third[[:space:]]Party[[:space:]]Notices.md.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Unity.Burst.CodeGen.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/ValidationConfig.json filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Unity.Burst.Unsafe.xml.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/package.json.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/CHANGELOG.md filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Documentation~ filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Runtime.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Tests filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Tests.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Unity.Burst.Unsafe.xml filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Editor filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/LICENSE.md filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/LICENSE.md.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Third[[:space:]]Party[[:space:]]Notices.md filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Unity.Burst.Unsafe.dll.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/CHANGELOG.md.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Unity.Burst.CodeGen filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/Unity.Burst.Unsafe.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/ValidationConfig.json.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/package.json filter=lfs diff=lfs merge=lfs -text
[200~Library/PackageCache/com.unity.burst@1.8.8/.Runtime/~* filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Threading.Overlapped.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Threading.Tasks.Extensions.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Unity.Burst.Cecil.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-llvm-43FFF67504C1B77C_15.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-15.so filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Net.Http.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-lld-15-hostlin filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libMonoDebuggerHandling.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Burst.Compiler.IL.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Smash.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Buffers.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Collections.Immutable.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-lld-15-hostmac filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Numerics.Vectors.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-llvm-43FFF67504C1B77C_14.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-lld-15-hostwin.exe filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libMonoDebuggerHandling.so filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Globalization.Extensions.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/bcl.exe filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-llvm-B4B9E3881B00232E_13.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Grpc.Net.Common.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Microsoft.Win32.Registry.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Xml.XPath.XDocument.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-llvm-B4B9E3881B00232E_14.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Diagnostics.Tracing.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Unity.Burst.Cecil.Mdb.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Unity.Burst.Placeholder.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-15.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Memory.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Security.SecureString.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-llvm-15.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/hostwin filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/B4B9E3881B00232E filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Data.Common.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/D9186C53EA4CD61E filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Google.Protobuf.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/hostlin filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libs filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Grpc.Core.Api.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Diagnostics.StackTrace.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Net.Sockets.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Threading.Channels.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-llvm-B4B9E3881B00232E_15.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/version.txt filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Burst.Backend.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Microsoft.Experimental.Collections.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Unity.Burst.Cecil.Pdb.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/bcl.exe.config filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-llvm-43FFF67504C1B77C_13.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/43FFF67504C1B77C filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Microsoft.Bcl.AsyncInterfaces.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Security.Cryptography.Algorithms.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Runtime.Serialization.Primitives.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/hostmac filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/MonoDebuggerHandling.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.IO.Compression.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Reflection.Metadata.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/System.Runtime.CompilerServices.Unsafe.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/Unity.Burst.Cecil.Rocks.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.animation@9.0.3 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequesttexture@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequestwww@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.cloth@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.uielements@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.ui@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequestassetbundle@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.tilemap@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.tilemap@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.director@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.screencapture@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.umbra@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequest@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.test-framework@1.1.33 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ext.nunit@1.0.6 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.mathematics@1.2.6 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.physics@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ide.rider@3.0.24 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ide.visualstudio@2.0.18 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.netcode.gameobjects@1.9.1 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.tilemap.extras@3.1.1 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.terrain@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.aseprite@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.psdimporter@8.0.2 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.video@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.wind@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.timeline@1.7.5 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.particlesystem@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.subsystems@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.terrainphysics@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.vr@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.ai@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.jsonserialize@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.collab-proxy@2.3.1 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.animation@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.spriteshape@9.0.2 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.visualscripting@1.9.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.sprite@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.assetbundle@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.imageconversion@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.vehicles@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.textmeshpro@3.0.6 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.transport@1.4.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.collections@1.2.4 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.audio@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.xr@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@8.0.1 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.feature.2d@2.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ugui@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.imgui@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.nuget.mono-cecil@1.11.4 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequestaudio@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.physics2d@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unityanalytics@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.pixel-perfect@5.0.3 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.androidjni@1.0.0 filter=lfs diff=lfs merge=lfs -text
